[
  {
    "id": 0,
    "version": "R1",
    "type": "Location",
    "name": "det_bestModelIoU_0.77_v_t_0.81_epoch_019_6490.serialized.bin",
    "path": "Segment_V41_0/det_bestModelIoU_0.77_v_t_0.81_epoch_019_6490.serialized.bin",
    "size": [
      640,
      480
    ],
    "output_shape": [
      [
        1,
        480,
        640,
        3
      ]
    ],
    "input_shape": [
      [
        1,
        480,
        640,
        3
      ]
    ],
    "output_node_name": [
      "605"
    ],
    "input_blob_name": "",
    "output_blob_names": "",
    "classifier_threshold": 0,
    "device_type": 3,
    "framework_type": 4,
    "implement_type": 2,
    "data": "",
    "label_file": "model/loc.txt",
    "show_result": false,
    "operate_on_aie_id": -1,
    "operate_on_class_ids": -1,
    "operate_on_next_id": 1,
    "crop_num_x": 1,
    "crop_num_y": 1,
    "roi_param": [],
    "class_names": [],
    "is_pad": false,
    "out_nodes": "",
    "conf_thres": 0,
    "iou_thres": 0,
    "mean": [
      123.675,
      116.28,
      103.53
    ],
    "std": [
      58.395,
      57.12,
      57.375
    ],
    "bgr_to_rgb": true,
    "rgb_to_bgr": false
  }
]